/* Global Layout Set-up */
* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Link Styles */

body {
    color: black;
    background: #ebebeb;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: blue;
}

/* Section Styles */

h2 {
    margin-top: 18px;
    text-transform: uppercase
}


.main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

.nav a {
    transition: all .5s;
}

.nav a:hover {
    color: white
}

header {
    text-align: center;
    background: url('images/CBbackground-01.png') no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0;
}

header {
    line-height: 1.5;
}

header .profile-image {
    margin-top: 95px;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid black;
    transition: all .5s;
}

header .profile-image:hover {
    transform: scale(1.2) rotate(5deg);
}

.tag {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
    box-shadow: 1px -1px 2px #d1d1d1,
        -1px 1px 2px whitesmoke;
}

.location {
    background-color: black;
    color: white;
    box-shadow: 1.5px -1.5px 3px #000000,
        -1.5px 1.5px 3px #494b4f;
}

.card {
    color: black;
    width: 450px;
    height: 350px;
    margin: 30px;
    border-radius: 10px;
    background: #ebebeb;
    box-shadow: 20px 20px 45px #c8c8c8,
        -20px -20px 45px #ffffff;
}

/* neuphorism effect from https://neumorphism.io/#55b9f3 */

.card:hover {
    border-color: #f7f7f7;
}

ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    border-radius: 6px;
    display: inline-block;
    background: #0b566f;
    color: white;
    padding: 5px 10px;
    margin: 2px;
}

.skills li:nth-child(odd) {
    background: #ef9b00;
}

.hobbies {
    margin-top: 20px;
    list-style-position: inside;
}

ul.hobbies {
    line-height: 2;
    text-align: center;
    font-size: 18px;
}

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
}

footer .copyright {
    top: -8px;
    color: black;
    font-size: 14px;
    font-weight: 700;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}


a.linkedin {
    background-image: url(images/linkedin.svg);
}

a.github {
    background-image: url(images/github.svg);
}

a.social:hover {
    opacity: 1;
}

.clearfix {
    clear: both;
}

/*Portfolio Page*/
.main-nav2 {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 0px;
    position: fixed;
}

section {
    background: white;
}

h3 {
    position: absolute;
    text-transform: uppercase;
    margin-top: 75px;
    height: 50px;
    width: 550px;
    left: 50%;
    transform: translateX(-50%);
    margin: 5% 0 2% 0;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    background: rgba(0, 0, 0, 0.75);
}

.footer-2 {
    color: black;
    text-align: end;
    font-weight: 700;
    font-size: 14px;
}


/* Styles for larger screens */
@media screen and (min-width: 720px) {

    .flex {
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: flex;
        max-width: 1200px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 auto;
    }

    header {
        min-height: 470px;
    }

    .nav {
        max-width: 1200px;
        padding: 0 30px;
    }


    main p {
        line-height: 1.6em;
    }

    .card p {
        margin: 6px;
        padding: 10px;
        outline: inherit;
    }

    footer {
        font-size: 1.3em;
        max-width: 1200px;
        margin: 40px auto;
    }

}
